body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 4rem;
  min-height: 800vh;
}

.naslov-primaren {
  font-size: 4rem;
}
.naslov-sekundaren {
  margin-top: 100px;
}
.centar-text {
  text-align: center;
}
ul {
  background-color: lavender;
}
ul li {
  font-size: 24px;
}
/* ****************************************
position:relative
**************************************** */
.relative {
  width: 150px;
  height: 150px;
  background-color: orangered;
  color: white;
  padding: 10px;
  position: relative;
  bottom: 150px;
  right: 200px;
}
/* ****************************************
position:absolute
**************************************** */
.box-outside-relative {
  height: 400px;
  width: 900px;
  background-color: lavenderblush;
  border: 3px solid brown;
  position: relative;
  left: 50px;
}

.box-inside-absolute {
  height: 150px;
  width: 200px;

  color: white;
  background-color: brown;
  position: absolute;
  top: 30px;
  right: 30px;
}
/* ****************************************
position:fixed
**************************************** */
.fixed {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  font-size: 24px;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 50px;
  right: 70px;
}
/* ****************************************
position:sticky
**************************************** */
.sticky {
  background-color: green;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
}
nav a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}
